@{
    ViewData["Title"] = "Home Page";
}

<div class="container" style="font-family: Garamond, serif;">
    <h1 style="font-family: Garamond, serif;">Come join me on my reading journey!</h1>
    <br /><br />
    <h4>This site was built as a platform for me to share about my hobby of reading. I want this site to contain my own adventure that may inspire you to also start your own reading journey. Thanks for visiting!</h4>
    <br /><br /><br />
    <h5>My Current Reading List</h5>
    <img src="~/lalalahouse.jpeg" height="200" alt="Cover of LaLaLa House by YoungHa Kim"/>
    <img src="~/thearchitectureofhappiness.jpg" height="200" alt="Cover of The Architecture of Happiness by Alain de Botton"/>
    <br /><br /><br />
    <p>I am not an avid reader who grew up loving to read.
        My first stop at the library was always the DVD aisle.
        School had a talent of creating a distaste for reading for me through reading logs and book reports.
        Although books were never my favorite source of entertainment, I always loved stories.
        I loved characters, words, and emotions. I loved everything you could experience and feel through a good story.
        As my ability to comprehend text grew, I started to embrace even the words on a page.
        Now, reading has become more than just a hobby.
    </p>
    <br />
    <p>Some of my most recent favorite books are The Sense of and Ending and The Course of Love.
        Contact me if you want to talk about these books or any books! I always want to meet another person who loves to read.
    </p>
    <br />
    <p>I am also offering tutoring services for those who want to go from a hatred of reading to a love for reading.
        You can visit the calculator tab to calculate an estimate of the price based on hours, though circumstances may vary the final price.
        We all heard that reading is beneficial, but I really want to focus on the main thing.
        That is, I hope my students can find books that complete parts of who they are.
        Aren't we all just trying everyday to get a little closer to ourselves and the things that make us happy?
    </p>
</div>
